body{
    padding: 0;
    margin: 0;
    background-color: #EFE6DD;
}

/********* NAVBAR *******/

.navbar-brand #logo{
    width: 50px;
    display: inline-block;
    margin-right: 20px;
}

.navbar-dark .navbar-brand {
    color:#EBC036;
    font-size: 32px;
    font-weight: bold;
}


/*partie produit*/

 .photo_article{
     width: 100px;
     height: 150px;
     position: relative;
     left: 500px;
}
.containerproduit h1{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 5px blue;
    
}
.jeu img{
    
    border: 3px solid red;
    width: 400px;
    height: 500px;

}


.produit h1{
    margin-top: 20px;
    
}

.produit p{
    margin-top: 30px;
    text-align: center;
}

.produit{
    margin-top: 50px;
      
}
.containerproduit{
    margin-top: 120px;
    padding: 20px;
    

}
.containerproduit h1{
    text-align: center;
}
.produit img{
    border: 2px solid black;
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 20px;
}
.prix{
    text-align: center;
    font-weight: bold;
}

.containerproduit .btn{
    color: #EBC036;
    background-color: black;
    border: none;
}



 @media screen and (min-width: 1080px){
    .containerproduit{
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     .containerproduit p{
         margin: 20px;
     }

     .prix{
         margin-left: 100px;
     }
     .produit img{
       display: block;
       width: 70%;
       margin-bottom: 20px;
     }

 }

/*---------------- PANIER PHP--------------*/

.products{

    padding-top: 100px;
    display:flex;
    height: 500px;



}
.iPhone{
    width: 33%;
    position: relative;
}
.iPad{
    width: 33%;
    position: relative;

}
.iMac{
    width: 33%;
    position: relative;
}
.products h2{
text-align: center;
}
.products p{
    position: relative;
    top: 100px;
    text-align: center;
}
.products input{
    position: relative;
    top: 100px;
    left: 35%;

}

.products img{
    width: auto;
    height: 200px;
    position: relative;
    top: 50px;
    left: 40%;

}
input[type="number"]{
    width: 80px;
}
.iMac img{
    width: auto;

}

.validation{
    position: absolute;
    top: 100px;
}

.panier{
    position: relative;
    top: 150px;
    width: 100%;
    height: 1000px;

}
.panier table, td, tr, th{
    border: #212529 3px solid;
}


.panier table{
    position: relative;
    width: 500px;
    height: 70%;
    top: 15%;
    left: 5%;
}

.panier h2{
    text-align: center;
}
.recap{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 25%;
    gap: 250px;
    left: 15%;
    top: 10%;

}

.finalProducts, .price{

    position: relative;
    width: 30%;
    height: auto;
    border: 2px solid black;

}

.finalProducts{
   text-align: center;
}
.price h3{
    text-align: center;
}
.htPrice, .finalPrice{
    margin-left: 50%;
    text-align: right;
    font-size: 15px;
    border-top: solid black 2px;
}

.discount{
    text-align: center;
}